* {
  padding: 0;
  margin: 0;
}

html,
body,
#app,.el-container{
  width: 100%;
  height: 100%;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
body::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    background: rgba(0,0,0,.2);
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    border-radius: 0;
    background: rgba(0,0,0,.1);
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
li {
    list-style: none;
}

.main {
    padding: 10px;
    height: 100%;
}

.p-main {
    background: #ffffff;
    border-left: 1px solid #EDEDED;
    border-right: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
}
.lp-main .lp-table {
    padding-left: 5px;
    padding-right: 5px;
}

.el-menu i.fa {
    width: 24px;
    text-align: center;
    margin-right: 5px;
}

.bar-title {
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 5px solid #1abb9c;
    padding: 0 10px;
    background: #f1f1f1;
    color: #333;
    font-size: 14px;
    font-weight: 600;
    box-shadow: rgba(0,0,0,.25) 0 1px 0, inset rgba(255,255,255,.16) 0 1px 0;
    margin-bottom: 15px;
}
.bar-title .text {
    color: #333;
    font-size: 14px;
    font-weight: 600;
}
.bar-title .oper {
    float: right;
    padding-right: 5px;
    padding-left: 5px;
}

.bar-title .oper .oper-item {
    display: inline-block;
    margin-right: 10px;
}
.bar-title .oper .oper-item .oper-item-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.bar-title .oper .oper-item .oper-item-group .el-select {
    width: 110px;
}
.bar-title .oper .oper-item .oper-item-group .el-select .el-input__inner {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.bar-title .oper .oper-item .oper-item-group .el-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0;
    border-color: #bdbdbd;
    background-color: #409EFF;
    color: #ffffff;
}

/*
.bar-title .oper .oper-item > .el-input {
    font-size: 12px;
}
.bar-title .oper .oper-item > .el-input > .el-input__inner {
    width: 0;
    padding-left: 0;
    padding-right: 0;
    border-left-width: 0;
}
.bar-title .oper .oper-item > .el-input > .el-input-group__prepend {
    background-color: #ffffff;
}
.bar-title .oper .oper-item > .el-input > .el-input-group__append {
    background-color: #409EFF;
    color: #ffffff;
}
*/

.m-form .el-input-number {
    width: 100%;
}
.m-form .el-select {
    width: 100%;
}
.m-form .el-col {
    padding-left: 5px;
    padding-right: 5px;
}
/*
.m-form .el-form-item__label {
    color: #9c9c9c;
}
*/
.m-form .el-select.m-select-append {
    width: 140px;
}

.m-form .el-card__header {
    padding: 8px 10px;
}
.m-form .el-card__header span.text{
    line-height: 32px;
    font-size: 16px;
    font-weight: 500;
}

.m-form .el-date-editor.el-input, .m-form .el-date-editor.el-input__inner {
    width: 100%;
}

.m-form .m-input-group .el-form-item__content {
    display: flex;
    display: -webkit-flex;
}

.m-form .m-input-group .el-input {
    flex: 1;
}

.m-form .m-input-group .el-input+.el-input {
    margin-left: 5px;
}

/*
.m-form-plain .el-form-item__label {
    color: #d3d3d3;
}

.m-form-plain .el-form-item__content {
    color: #000000;
}
*/

.m-form-img {
    width: auto;
    height: 100px;
}
.m-form-compact-show .el-row {
    padding-bottom: 0;
}
.m-form-compact-show .el-form-item {
    margin-bottom: 5px;
}

.m-form-plain .el-form-item__content span {
    word-break: break-all;
}

.m-form-compact {

}
.m-form-compact .el-row {
    padding-bottom: 0;
}
.m-form-compact .el-form-item {
    margin-bottom: 14px;
}

.m-search-form {
    padding-left: 10px;
    padding-right: 10px;
}

.m-search-form .el-form-item {
    margin-bottom: 10px;
}

.m-btn-mini {
    padding: 7px 10px;
    font-size: 10px;
    min-width: 68px;
}
.el-button.m-btn-mini+.el-button {
    margin-left: 5px;
}

a.oper {
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}
a.oper:hover {
    cursor: hand;
}

.info {
    color: #909399;
}
.primary {
    color: #409EFF;
}
.warning {
    color: #E6A23C;
}
.success {
    color: #67C23A;
}
.danger {
    color: #F56C6C;
}

/* 一组颜色样式 */
.col-0 {
    color: #000000;
}
.col-1 {
    color: #67C23A;
}
.col-2 {
    color: #409EFF;
}
.col-3 {
    color: #E6A23C;
}
.col-4 {
    color: #F56C6C;
}

.m-oper {
    margin-top: 5px;
    text-align: right;
    padding-left: 5px;
    padding-right: 5px;
}

.m-oper-list {

}

.m-oper-list .el-link {
    font-size: 12px;
}

.el-pagination__sizes {
    margin-top: -3px;
}

.left.el-input-number input {
    text-align: left;
}
.left.el-input-number .el-input__inner {
    text-align: left;
}

.font-mini {
    font-size: 12px;
}
.upload {
    padding: 10px;
    background-color: #fff;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    box-sizing: border-box;
}
.upload .el-upload-list__item-name {
    color: #409eff;
}

.m-dialog-content .m-oper {
    margin-top: 10px;
    padding-right: 0;
    padding-left: 0;
}

.m-dialog-content .el-card+.el-card {
    margin-top: 10px;
}

.m-dialog-content .el-card__body {
    padding-bottom: 10px;
}

.el-dialog__body {
    padding-top: 10px;
    padding-bottom: 20px;
}

.el-form-item .el-input+.m-upload {
    display: inline-block;
}

.m-img-upload .el-input,.m-img-upload .m-preview{
    width: 100%;
    margin-right: 5px;
}
.m-img-upload .el-input+.m-upload,.m-img-upload .m-preview+.m-upload {
    margin-left: 5px;
}
.m-img-upload .el-form-item__content {
    display: flex;
    display: -webkit-flex;
}

/* @/src/lib/components, @/src/lib/directives等相关 begin */
.m-upload {
    display: inline-block;
}
.m-upload-preview .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.m-upload-preview .el-upload:hover {
    border-color: #409EFF;
}
.m-upload-icon {
    font-size: 28px;
    color: #8c939d;
    width: 148px;
    height: 148px;
    line-height: 148px;
    text-align: center;
}
.m-img {
    width: 148px;
    height: auto;
    display: block;
}
.m-img-mini {
    max-width: 80px;
}
.m-img-preview {
    max-width: 180px;
}

.m-v-preview {

}
.m-v-preview.el-popover {
    min-width: 0;
}
.m-v-img-preview {
    max-width: 180px;
}

.m-preview {

}
.m-preview-popover {

}
.m-preview-popover.el-popover {
    min-width: 0;
}
.m-img-preview-popover {
    /* max-width: 180px; */
}
/* @/src/lib/components, @/src/lib/directives等相关 end */

.m-choose-table {

}

.m-single-choose-table .el-table__header .el-table-column--selection .el-checkbox .el-checkbox__original{
    display: none;
}

.m-single-choose-table .el-table__header .el-table-column--selection .el-checkbox {
    display: none;
}

.m-multi-choose-table {

}

.m-form .el-select.m-choose-mode {
    width: 120px;
}

.m-choose-warning {
    color: orangered;
    font-size: 16px;
    padding-left: 50px;
}

.m-choose-box .el-card__header {
    padding: 0;
}

.m-choose-box .el-card__header .bar-title {
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 5px solid #1abb9c;
    padding: 0 10px;
    background: #f1f1f1;
    color: #333;
    font-size: 14px;
    font-weight: 600;
    box-shadow: rgba(0,0,0,.25) 0 1px 0, inset rgba(255,255,255,.16) 0 1px 0;
    margin-bottom: 0;
}

.m-choose-box .m-choose-tree .el-tree {
    margin-top: 0;
    margin-bottom: 5px;
}

.m-choose-tag {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
}
.m-choose-tag.m-choose-tag-vertical {
    flex-direction: column;
}
.m-choose-tag .m-choose-select {
    min-width: 100px;
    flex: 1;
}
.m-choose-tag .m-choose-select.m-choose-type {
    min-width: 80px;
    flex: 0.75;
}
.m-choose-tag .m-choose-select+.m-choose-select {
    margin-left: 5px;
    margin-top: 0;
}
.m-choose-tag.m-choose-tag-vertical .m-choose-select+.m-choose-select {
    margin-left: 0;
    margin-top: 5px;
}
.m-choose-tag .m-choose-btn {
    margin-left: 5px;
    margin-top: 0;
    text-align: right;
}
.m-choose-tag.m-choose-tag-vertical .m-choose-btn {
    margin-left: 0;
    margin-top: 5px;
}
.m-choose-tag .m-choose-btn .el-button {

}
.m-choose-tag .m-choose-btn .el-button+.el-button {
    margin-left: 5px;
}

.m-tag-box .el-tag {
    margin: 2px;
}

.m-form-item .el-input{
    width: 100%;
    margin-right: 5px;
}
.m-form-item .el-input+.el-button {
    margin-left: 5px;
}
.m-form-item .el-form-item__content {
    display: flex;
    display: -webkit-flex;
}

.el-table .m-column-input {
    padding-top: 2px;
    padding-bottom: 2px;
}
.el-table .m-input-inline {
    width: 110px;
}
.el-table .m-column-input .cell {
    text-overflow: clip;
}
.el-table .m-input-inline-wide {
    width: 130px;
}
.el-table .m-column-img {
   padding: 0;
}
.el-table .m-column-img .cell {
    padding: 0;
    text-align: center;
    vertical-align: middle;
}
.el-table .el-table__body .m-column-img .cell {
    line-height: 0;
    padding: 2px;
}
.el-table .m-column-img img {
    width: 50px;
    height: 35px;
}
.el-table .m-column-span {

}
.el-table .m-column-span span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.m-span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@keyframes welcomeBg {
    0% {
        background-size:100% 100%;
    }
    100% {
        background-size:300% 300%;
    }
}
.m-welcome-bg {
    background: url('./bg.jpg') no-repeat;
    background-size:100% 100%;
    background-position: center;
    -webkit-animation: welcomeBg 60s linear 0.5s infinite normal;
    animation: welcomeBg 60s linear 0.5s infinite normal;
}

/* 页面预览 */
.page-preview-card .el-card__body {
    padding: 0;
}
.subject-preview-card .el-card__body {
    padding: 0;
}
.el-image .image-error-slot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}
.el-image .image-error-slot i {
    color: #b1b1b1;
    font-size: 14px;
}


/* ----------- 筛选节点编排相关 begin ----------- */

.m-multi-box .el-card__header {
    padding: 0;
}

.m-multi-box .el-card__header .bar-title {
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 5px solid #1abb9c;
    padding: 0 10px;
    background: #f1f1f1;
    color: #333;
    font-size: 14px;
    font-weight: 600;
    box-shadow: rgba(0,0,0,.25) 0 1px 0, inset rgba(255,255,255,.16) 0 1px 0;
    margin-bottom: 0;
}

.m-multi-box .m-multi-tree .el-tree {
    margin-top: 0;
    margin-bottom: 5px;
}

.m-multi-box .m-multi-nodes .m-multi-form .el-form-item__label {
    text-align: center;
    color: #606266;
}
.m-multi-box .m-multi-nodes .m-multi-form .m-multi-spec .el-form-item__label {
    position: relative;
}
.m-multi-box .m-multi-nodes .m-multi-form .el-form-item.m-multi-type .el-form-item__label {
    color: #bdbdbd;
}

.m-multi-box .m-multi-nodes .m-multi-form .el-form-item.m-multi-type .el-form-item__content {
    font-size: 18px;
    font-weight: 600;
}

.m-multi-box .m-multi-nodes .m-multi-form .el-form-item.m-multi-result .el-form-item__label {
    color: #bdbdbd;
}

.m-multi-box .m-multi-spec {

}

.m-multi-box .m-multi-spec .m-multi-node {

}
.m-multi-box .m-multi-spec .m-multi-spec-label {
    position: relative;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    padding: 1px;
}
.m-multi-box .m-multi-spec .m-multi-spec-label:hover {
    padding: 0;
    border: 1px solid #DCDFE6;
}
.m-multi-box .m-multi-spec .m-multi-spec-label .m-multi-spec-edit {
    position: absolute;
    top: -6px;
    left: -6px;
    display: none;
}
.m-multi-box .m-multi-spec .m-multi-spec-label .el-button.m-multi-spec-edit {
    padding: 2px;
}
.m-multi-box .m-multi-spec .m-multi-spec-label:hover .m-multi-spec-edit {
    display: inline-block;
}
.m-multi-box .m-multi-spec .m-multi-spec-label .m-multi-spec-del {
    position: absolute;
    top: -6px;
    right: -6px;
    display: none;
}
.m-multi-box .m-multi-spec .m-multi-spec-label .el-button.m-multi-spec-del {
    padding: 2px;
}
.m-multi-box .m-multi-spec .m-multi-spec-label:hover .m-multi-spec-del {
    display: inline-block;
}
.m-multi-box .m-multi-spec .m-multi-spec-label .m-multi-spec-show {
    position: absolute;
    top: -6px;
    right: -6px;
    display: none;
}
.m-multi-box .m-multi-spec .m-multi-spec-label .el-button.m-multi-spec-show {
    padding: 2px;
}
.m-multi-box .m-multi-spec .m-multi-spec-label:hover .m-multi-spec-show {
    display: inline-block;
}
.m-multi-box .m-multi-spec .m-multi-spec-label .el-button--text {
    color: #606266;
}
.m-multi-box .m-multi-spec .m-multi-spec-label:hover .el-button--text {
    color: #409EFF;;
}
.m-multi-box .m-multi-spec .m-multi-spec-label .el-button+.el-button {
    margin-left: 0;
}
.m-multi-box .m-multi-spec .m-multi-node .m-multi-node-title {

}
.m-multi-box .m-multi-spec .m-multi-node .m-multi-node-edit {
    position: absolute;
    top: -6px;
    left: -6px;
    display: none;
}
.m-multi-box .m-multi-spec .m-multi-node .el-button.m-multi-node-edit {
    padding: 2px;
}

.m-multi-box .m-multi-spec .m-multi-node:hover .m-multi-node-edit {
    display: inline-block;
}

.m-multi-box .m-multi-spec .m-multi-node .m-multi-node-del {
    position: absolute;
    top: -6px;
    right: -6px;
    display: none;
}
.m-multi-box .m-multi-spec .m-multi-node .el-button.m-multi-node-del {
    padding: 2px;
}
.m-multi-box .m-multi-spec .m-multi-node:hover .m-multi-node-del {
    display: inline-block;
}

.m-multi-box .m-multi-spec .m-multi-node .m-multi-node-show {
    position: absolute;
    top: -6px;
    right: -6px;
    display: none;
}
.m-multi-box .m-multi-spec .m-multi-node .el-button.m-multi-node-show {
    padding: 2px;
}
.m-multi-box .m-multi-spec .m-multi-node:hover .m-multi-node-show {
    display: inline-block;
}

.m-multi-box .m-multi-spec .m-multi-node-add {
    vertical-align: top;
    border-radius: 4px;
    border-style: dashed;
}

.m-multi-box .m-multi-radio-group {

}

.m-multi-box .m-multi-radio-group .el-radio-button {
    margin: 0 10px 10px 0;
    border-radius: 4px;
}

.m-multi-box .m-multi-radio-group .el-radio-button .el-radio-button__inner {
    border: 1px solid #DCDFE6;
    border-radius: 4px;
}

.m-multi-box .m-multi-radio-group .el-radio-button .el-radio-button__orig-radio:checked+.el-radio-button__inner {
    box-shadow: none;
}

.m-multi-box .m-multi-programs {

}

.m-form-multi-node .el-form-item__label {
    color: #8b8b8b;
}

.m-form-multi-node .m-suggest .el-form-item__label {
    color: #bdbdbd;
}

.m-multi-box .m-multi-form .el-form-item {
    margin-bottom: 10px;
}

.m-multi-box .m-multi-form .m-multi-spec-divider {
    margin: 0 0 10px 0;
}

.m-multi-box .m-multi-form .m-multi-spec-add {
    width: 100%;
    vertical-align: top;
    border-radius: 4px;
    border-style: dashed;
}

/* ----------- 筛选节点编排相关   end ----------- */

/* ----------- 筛选节目列表预览   begin ----------- */
.m-multi-box .m-multi-p-box  {
    min-height: 45px;
}
.m-multi-box .m-multi-p-list {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #2A3F54 0%, #293c54 100%);
}
.m-multi-box .m-multi-p-list-empty {
    color: #8c939d;
    font-size: 14px;
    text-align: center;
}
.m-multi-box .m-multi-p-list-empty span {
    display: inline-block;
}
.m-multi-box .m-multi-p-list .m-multi-p-next-page {
    position: absolute;
    bottom: 5px;
    left: 500px;
}
.m-multi-box .m-multi-p-list .m-multi-p-count {
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    font-size: 12px;
    color: #f3f3f3;
}
.m-multi-box .m-multi-p-list .m-m-p-card {
    width: 140px;
    height: 244px;
    position: absolute;
}
.m-multi-box .m-multi-p-list .m-m-p-card .m-m-p-box {
    width: 140px;
    height: 200px;
    border-radius: 4px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
    border: #2A3F54 1px solid;
    position: relative;
    flex: 0 0 auto;
    padding: 0;
}
.m-multi-box .m-multi-p-list .m-m-p-card:hover .m-m-p-box{
    cursor: pointer;
    transform: scale(1.05,1.05);
    transition: transform 0.25s ease;
    border: #409eff 1px solid;
    z-index: 1000;
    padding: 0;
}
.m-multi-box .m-multi-p-list .m-m-p-card .m-m-p-title {
    width: 140px;
    height: 44px;
    font-size: 14px;
    color: #bdbdbd;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}
.m-multi-box .m-multi-p-list .m-m-p-card:hover .m-m-p-title{
    color: #f3f3f3;
}
.m-multi-box .m-multi-p-list .m-m-p-card .m-m-p-title span {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    line-height: 44px;
    width: 140px;
    height: 44px;
    padding: 0 5px;
}

.m-multi-box .m-multi-p-list .m-m-p-card .m-m-p-box .el-image {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.m-multi-box .m-multi-p-list .m-m-p-card .m-m-p-box .m-m-p-image {
    background: #409eff;
}
.m-multi-box .m-multi-p-list .m-m-p-card .m-m-p-box .el-image .image-error-slot i {
    color: #ffffff;
}
.m-multi-box .m-multi-p-list .m-m-p-card .m-m-p-box .m-m-p-vip-tag {
    position: absolute;
    top: 0;
    left: 0;
}
.m-multi-box .m-multi-p-list .m-m-p-card .m-m-p-box .m-m-p-tag {
    position: absolute;
    top: 0;
    right: 0;
}
.m-multi-box .m-multi-p-list .m-m-p-card .m-m-p-box .m-m-p-tag-image {
    width: 45px;
    height: auto;
}
.m-multi-box .m-multi-p-list .m-m-p-card .m-m-p-box .m-m-p-info {
    font-size: 14px;
    color: #f3f3f3;
    position: absolute;
    bottom: 5px;
    right: 2px;
}
.m-multi-box .m-multi-p-list .m-m-p-card .m-m-p-box .m-m-p-info span {
    display: inline-block;
    line-height: 20px;
}
.m-multi-box .m-multi-p-list .m-m-p-card .m-m-p-box .m-m-p-score {
    font-size: 14px;
    color: #f3f3f3;
    position: absolute;
    bottom: 5px;
    left: 5px;
}
.m-multi-box .m-multi-p-list .m-m-p-card .m-m-p-box .m-m-p-score span {
    display: inline-block;
    line-height: 20px;
}

/* ----------- 筛选节目列表预览   end ----------- */


